PORT=3000

CLIENT_URL="http://localhost:5173"
EMAIL_USER="your_email_address_here"
EMAIL_PASS="your_email_password_here"

DATABASE_URL=postgres://your_db_user:your_db_password@localhost:5433/your_database_name
DB_PASSWORD=your_database_password_here

# Razorpay Keys
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_secret_here
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# Admin Master Security Key
MASTER_SECURITY_KEY=your_master_security_key_here

# Shiprocket Credentials
SHIPROCKET_EMAIL="your_shiprocket_email_here"
SHIPROCKET_PASSWORD="your_shiprocket_password_here"
SHIPROCKET_WEBHOOK_TOKEN=your_webhook_token_here

# Twilio Credentials
TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH=your_twilio_auth_here
TWILIO_PHONE=your_twilio_phone_number_here

